@page "/"

<div class="container">
    <div class="align-content-center text-center">
        <h1>Welcome to Digitec-Tools!</h1>
        @* TODO Add link to BuyMeACoffee *@
        <p>Digitec Tools is an Open Source Project. Please consider <a href="https://www.buymeacoffee.com/KevinMueller">supporting</a> it, so the poor Dev can afford the server costs.</p>
        <br />
        <br />

        <h2>What can I do with it?</h2>
        <p>For now you can: Take a Digitec product and get notified whenever the price changes.</p>
        <br />
        @* TODO Add links *@
        <p>But before you can do that, please Register / Login.</p>
    </div>
</div>