@using Microsoft.Extensions.Configuration
<footer class="fixed-bottom">
    <div class="container" style="width: 100%;">
        <div class="align-content-center justify-content-center text-center">
            <p>© Kevin Müller @DateTime.Now.Year</p>
        </div>
    </div>
</footer>