@using Shopping_Tools.Data.Enums
@using Shopping_Tools_Api_Services.Core.Digitec
<div class="container">
    <MatTabGroup>
        @if (ImplementedShops != null)
        {
            @foreach (var shop in ImplementedShops)
            {
                <MatTab Label="@shop.OnlineShopName">
                    <ManageProductsComponent Shop="@DynamicApiHelper.ShopNameToEnum<Shops>(shop.OnlineShopName)" />
                </MatTab>
            }
        }
    </MatTabGroup>
</div>


@code {

    [Parameter]
    public List<IApi> ImplementedShops { get; set; }

}